.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  padding: 9px;
  border: 1px solid #000;
  background-color: transparent;
}
.btn:hover {
  background-color: #e3d8f1;
  cursor: pointer;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.15rem;
}

label,
.btn {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
